<app-header></app-header>

<div class="page-wrap">
    <mat-card class="md-card">
        <mat-card-header class="mb-card-header">
            <section class="mb-section">
                <mat-slide-toggle class="mb-margin" [color]="color" [checked]="false"
                    (change)="toggleControl($event.checked)">
                    Keyboard control
                </mat-slide-toggle>
            </section>
            <span class="mb-spacer"></span>
            <button mat-raised-button color="accent" class="mb-button" (click)="onAddBox()">Add a new box</button>
        </mat-card-header>
        <mat-card-content class="mb-card-content">
            <app-box [keyboardControl]="keyboardControl"></app-box>
        </mat-card-content>
    </mat-card>
</div>