.mb-spacer {
  flex: 1 1 auto;
}

.mb-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.mb-margin {
  margin: 10px;
}

.mb-card-header {
    border-bottom: 1px solid;
}

.mb-card-content {
    margin-top: 10px;
}

.mb-button {
    height: fit-content;
}

mat-grid-tile {
    background: lightblue;
}

.md-card {
    box-shadow: none;
}